.image-upload .image-upload-button {
    display: inline-block;
    box-sizing: border-box;
    height: 80px;
    width: 80px;
    border: 1px solid #dfdfdf;
    background: #f1f1f1;
}

.image-upload .image-upload-label {
    display: block;
    line-height: 78px;
    text-align: center;
    height: 100%;
    width: 100%;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.image-upload .image-upload-list {
    display: inline-block;
    font-size: 0;
}

.image-upload .image-upload-item {
    position: relative;
    display: inline-block;
    height: 80px;
    width: 80px;
    margin-right: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.image-upload .image-upload-close {
    position: absolute;
    right: -8px;
    top: -8px;
    box-sizing: border-box;
    height: 15px;
    width: 15px;
    line-height: 15px;
    border-radius: 50%;
    border: 1px #fff solid;
    color: #fff;
    background-color: #e6454a;
}

.image-upload .image-upload-close:hover {
  background: #c23a3f;
}

.image-upload .image-upload-close:after {
    content: "";
    position: absolute;
    top: 6px;
    left: 2px;
    height: 1px;
    width: 9px;
    background: #fff;
}